---
import arrowRight from '../../assets/svg/arrow-right.svg?raw'
import Seasons from './helpers/Seasons'

const res = await fetch(import.meta.env.PUBLIC_API_BASE_URL + `/tags/${Seasons.currentSeason}`)
const data = await res.json()
---

<section class="container px-4">
  <a class="grid gap-4" href={data.pathname}>
    <div>
      <div class="text-sm tracking-widest uppercase">Coleção</div>
      <div class="flex justify-between items-baseline">
        <h1 class="text-2xl md:text-5xl uppercase">{data.displayName || data.name}</h1>
        <div class="flex items-center gap-2 tracking-widest uppercase text-sm">
          Explorar
          <slot set:html={arrowRight} />
        </div>
      </div>
    </div>

    <div class="-mx-4 sm:mx-0">
      <img class="w-full max-h-[75vh] object-cover" src={data.cover} alt={data.name}>
    </div>
  </a>
</section>